@media only screen and (max-width: 1024px) {
  .header {
    width: 33%;
  }
  .container {
    width: 67%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .nav {
    background-color: transparent;
  }
  .header {
    padding-top: 100px;
    width: 100%;
    background-color: var(--warning-text-color);
  }
  .person-info {
    padding: 0.5em;
    background-color: transparent;
    text-align: center;
  }
  .container {
    padding: 30px;
    width: 100%;
  }
  .nav__icon {
    color: var(--nav-background);
  }
}
@media only screen and (max-width: 490px) {
  .nav {
    flex-direction: column;
  }
  .header {
    padding-top: 140px;
  }
  .tweet__header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .tweet__user-handle {
    align-self: start;
  }
}
