.nav {
  position: fixed;
  width: 100vw;
  height: 120px;
  padding: 0 1.5em;
  background-color: var(--nav-background);
  color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-family: "Bungee", sans-serif;
}
.nav__right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__text {
  margin: 0;
}
.nav__button {
  background: none;
  border: none;
}
.nav__button:hover {
  transform: translateY(10px);
}

.nav__icon {
  color: var(--warning-text-color);
}
