.new-tweet {
  margin: 0 auto;
}
.pic__name {
  margin-left: 10px;
}
.tweet-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.tweet-content__textarea {
  border: none;
  border-bottom: 3px solid var(--main-text-color);
  background-color: var(--background-color);
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  width: 100%;
}
.form-tweet__summary-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}
.form-tweet {
  margin-bottom: 50px;
}
.summary-group__button {
  background-color: var(--nav-background);
  color: var(--nav-color);
  border: none;
}
.summary-group__button:hover {
  border: 2px solid var(--main-text-color);
  box-shadow: 5px 5px 10px 0px var(--main-text-color);
}

.error-message {
  color: var(--warning-text-color);
  font-weight: bold;
  border-radius: 5px;
  display: none;
}
.new-tweet {
  display: none;
}
.tweets__wrapper {
  margin: 0;
  padding: 0;
}
/* add class for counter */
.warningTextArea {
  color: var(--warning-text-color);
}
